* {
    font-family: 'Open Sans', sans-serif !important;
    text-decoration: none;
}

body {
background-color: #D8DFED;
}

nav #home-btn{
background-color: #FF6D38;
}

nav #add-btn{
background-color: #FF6D38;
}