{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_field %}

{% block title %} Comments {% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="w-75">

        <div class="mb-4">
            <p class="fw-bold">
                {{ comments.pitch_content }}
            </p>
        </div>

        <form method="POST">
            {{ form.csrf_token() }}
            {{ render_field(form.comment, placeholder='Be nice. 200 characters max') }}
            {{ render_field(form.submit, button_size='sm', class="btn-success") }}
        </form>

        {% if comments %}
        <div class="mt-4">
            <ol class="list-group list-group-numbered">
                {% for comment in comments.comments %}
                <li class="list-group-item my-3">
                    <small class="float-end fst-italic">
                        {{ moment(comment.posted_on).format('LL') }}
                    </small>

                    {{ comment.comment }}
                    <div>
                        <small class="float-end fst-italic">by {{ comment.user.first_name }} </small>
                    </div>
                </li>
                {% endfor %}
            </ol>
        </div>
        {% else %}
        <p>No comments. Be the first to comment</p>
        {% endif%}
    </div>
</div>
{% endblock content %}