{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='pitch-list.css') }}">
{% endblock styles %}

{% block title %} Home {% endblock %}

{% block content %}

{% if pitches %}
<div class="mt-5">
    <ul class="list-group">
        {% for pitch in pitches %}
        <li class="list-group-item my-2">
            <div>
                <small class="fst-italic">category - {{ pitch.category }}</small>
            </div>
            <div class="my-3">
                {{ pitch.pitch_content }}
            </div>
            <div class="float-start">
                <a href="{{ url_for('main.add_comment', pitch_id=pitch.pitch_id, user_id=current_user.user_id) }}">
                    <button class="btn btn-sm text-light fst-italic" id="comment-btn">comments</button>
                </a>
            </div>
            <div class="float-end">
                <small class="fst-italic">author @{{ current_user.first_name}}</small>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>No pitches. Be the first to create a pitch</p>
{% endif %}

{% endblock %}